
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="spacer"></div>

<div id="content" class="site-content content default-header-menu-content">

    <div id="agni-page-header-176" class="agni-slider agni-page-header" data-height="700" data-height-tab="540" data-height-mobile="380" data-slider-choice="2" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
        <div class="agni-slide " data-0="transform:translateY(0px);" data-1500="transform:translateY(600px);">
            <div class="agni-slide-bg-container "><div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(../Public/wp-content/uploads/sites/2/2016/06/shutterstock_239342257.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div><div class="agni-slide-bg-overlay overlay" style="background-color:rgba(0,0,0,0.7);"></div></div>
            <div class="agni-slide-content-container container agni-slide-align-items- agni-slide-justify-content-center">
                <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                    <div class="agni-slide-title  primary-typo" style="font-size:84px; color:#f0f0f0;"><h2>Working on task, always!</h2></div>
                </div>
            </div>
        </div>
    </div><div class="page-layout has-fullwidth">
        <div class="page-container container-fluid">
            <div class="page-row row no-sidebar ">


                <div class="page-column page-content col-sm-12 col-md-12">
                    <div id="primary" class="primary content-area">
                        <main id="main" class="site-main">


                            <article id="post-176" class="post-176 page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div id="about" class="section-row about">
                                        <div class="section-row-bg-container section-row-bg-container-about"><div class="section-row-bg section-row-bg-image " style="background-image: url('../wp-content/uploads/sites/2/2016/06/photo-1448932155749-638e51b56f03-1.jpg'); background-repeat:repeat; background-size:cover; background-position:center bottom; background-attachment:scroll; "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-6">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 16%; padding-right: 7%; padding-bottom: 16%; padding-left: 7%; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-16806 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div id="agni-row-inner-98814" class="section-row-inner vc_inner ">
                                                                <div class="section-row-inner-bg-container section-row-inner-bg-container-agni-row-inner-98814"><div class="section-row-inner-bg section-row-inner-bg-color "></div></div><div class="vc_row vc_row_fluid ">
                                                                    <div class="wpb_column agni_column_container vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-8">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-73439"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_custom_heading page-scroll">
                                                                                    <h2 class="vc_custom_heading agni_custom_heading_responsive  agni_custom_heading_content " style="font-size: 60px;text-align: left; ">
                                                                                        <span>
                                                                                            Having great<br />
                                                                                            Mission &amp; vision<br />
                                                                                            To accomplish.<br />
                                                                                        </span>
                                                                                    </h2>
                                                                                </div><div class="agni_empty_space vc_empty_space" style="height: 15px" data-height="15px" data-height-tab="15px" data-height-mobile="15px"><span class="vc_empty_space_inner"></span></div>

                                                                                <div class="agni_text_column agni-text-block ">
                                                                                    <p>Mauris tristique libero ut purus mollis, eget tristique metus varius. Nunc posuere lacus tortor, ac vulputate orci dignissim quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis auctor eros sed augue posuere molestie.</p>

                                                                                </div>
                                                                                <div class=" agni-button  text-left page-scroll"><a class="btn btn-lg btn-accent" target="_self" href="#" style="margin-top: 3.2%;  border-radius:60px;">Services</a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="team" class="section-row team" style="padding-top: 5%; padding-bottom: 5%; ">
                                        <div class="section-row-bg-container section-row-bg-container-team"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-10 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1 vc_col-xs-12">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-16806 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-section-heading text-center ihda">
                                                                <h2 class="section-heading-text section-heading-text_responsive" style="font-size:60px;">
                                                                    <span>
                                                                        People<br />
                                                                        Behind us 🙂
                                                                    </span>
                                                                </h2><div class="section-divide-line divide-line text-center"><span style="width:80px; height:2px; background-color:#ff655c"></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-xs-12">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 3.5%; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-87284 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="carousel-team " data-team-gutter="30" data-team-autoplay="true" data-team-autoplay-timeout="5000" data-team-autoplay-hover="true" data-team-loop="true" data-team-pagination="false" data-team-0="1" data-team-768="2" data-team-992="3" data-team-1200="3">
                                                                <div id="member-post-223" class="member-column  post-223 team type-team status-publish hentry " style="">
                                                                    <div class="member-content member-post  member-style-4">
                                                                        <div class="member-container">
                                                                            <div class="member-thumbnail">
                                                                                <img width="360" height="480" src="../Public/wp-content/uploads/sites/2/2016/06/member_3_shutterstock_239715955.jpg" class=" team-thumbnail" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/member_3_shutterstock_239715955.jpg 360w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/member_3_shutterstock_239715955-225x300.jpg 225w" sizes="(max-width: 360px) 100vw, 360px" />
                                                                            </div>
                                                                            <div class="member-caption-content">
                                                                                <div class="member-content">
                                                                                    <div class="member-content-details">
                                                                                        <p class="member-description-text">Curabitur ligula dolor, laoreet eget diam eget, molestie porta mi. Ut sit amet orci imperdiet.</p><div class="member-meta">
                                                                                            <ul class="list-inline"><li><a href="#"><i class=" fa fa-google-plus"></i></a></li><li><a href="#"><i class=" fa fa-skype"></i></a></li><li><a href="mailto:yourmail@mail.com"><i class=" fa fa-envelope"></i></a></li></ul>
                                                                                            <span class="member-contact"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="member-bottom-caption"><h6 class="member-title">JOHN DOE</h6><p class="member-designation-text">Designer &amp; Developer</p></div>
                                                                    </div>
                                                                </div><div id="member-post-222" class="member-column  post-222 team type-team status-publish hentry " style="">
                                                                    <div class="member-content member-post  member-style-4">
                                                                        <div class="member-container">
                                                                            <div class="member-thumbnail">
                                                                                <img width="360" height="480" src="../wp-content/uploads/sites/2/2016/06/member_2_shutterstock_234825760.jpg" class=" team-thumbnail" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/member_2_shutterstock_234825760.jpg 360w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/member_2_shutterstock_234825760-225x300.jpg 225w" sizes="(max-width: 360px) 100vw, 360px" />
                                                                            </div>
                                                                            <div class="member-caption-content">
                                                                                <div class="member-content">
                                                                                    <div class="member-content-details">
                                                                                        <p class="member-description-text">Curabitur ligula dolor, laoreet eget diam eget, molestie porta mi. Ut sit amet orci imperdiet.</p><div class="member-meta">
                                                                                            <ul class="list-inline"><li><a href="#"><i class=" fa fa-facebook"></i></a></li><li><a href="#"><i class=" fa fa-twitter"></i></a></li><li><a href="#"><i class=" fa fa-pinterest"></i></a></li><li><a href="#"><i class=" fa fa-linkedin"></i></a></li></ul>
                                                                                            <span class="member-contact"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="member-bottom-caption"><h6 class="member-title">STEVE SMITH</h6><p class="member-designation-text">UI/UX Designer</p></div>
                                                                    </div>
                                                                </div><div id="member-post-216" class="member-column  post-216 team type-team status-publish hentry " style="">
                                                                    <div class="member-content member-post  member-style-4">
                                                                        <div class="member-container">
                                                                            <div class="member-thumbnail">
                                                                                <img width="360" height="480" src="../Public/wp-content/uploads/sites/2/2016/06/member_1_shutterstock_295163639.jpg" class=" team-thumbnail" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/member_1_shutterstock_295163639.jpg 360w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/member_1_shutterstock_295163639-225x300.jpg 225w" sizes="(max-width: 360px) 100vw, 360px" />
                                                                            </div>
                                                                            <div class="member-caption-content">
                                                                                <div class="member-content">
                                                                                    <div class="member-content-details">
                                                                                        <p class="member-description-text">Curabitur ligula dolor, laoreet eget diam eget, molestie porta mi. Ut sit amet orci imperdiet.</p><div class="member-meta">
                                                                                            <ul class="list-inline"><li><a href="#"><i class=" fa fa-facebook"></i></a></li><li><a href="#"><i class=" fa fa-twitter"></i></a></li><li><a href="#"><i class=" fa fa-google-plus"></i></a></li></ul>
                                                                                            <span class="member-contact"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="member-bottom-caption"><h6 class="member-title"><a href="#">ANA WILLIAMS</a></h6><p class="member-designation-text">Web Developer</p></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="subscribe" class="section-row subscribe" style="padding-top: 7%; padding-bottom: 7%; ">
                                        <div class="section-row-bg-container section-row-bg-container-subscribe"><div class="section-row-bg section-row-bg-image  parallax" style="background-image: url('../wp-content/uploads/sites/2/2016/06/shutterstock_239717206.jpg'); background-repeat:repeat; background-size:cover; background-position:center center; background-attachment:fixed; " data-top-bottom="background-position: 0px -200px;" data-center="background-position: 0px 0px" data-bottom-top="background-position: 0px 200px"></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-center" style="padding-top: 40px; padding-bottom: 1%; "><div class="section-column-bg-container section-column-bg-container-agni-column-34209 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="font-size: 20px;color: #ffffff;text-align: center; font-weight:500; letter-spacing:0px; "><span>SUBSCRIBE US</span></div></div><div class="agni_custom_heading page-scroll"><h2 class="vc_custom_heading agni_custom_heading_responsive  agni_custom_heading_content " style="font-size: 70px;color: #ffffff;text-align: center; padding-bottom: 3%; "><span>Keep eyes on our latest activities</span></h2></div></div></div></div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-8 vc_col-md-offset-3 vc_col-md-6 vc_col-sm-offset-2 vc_col-xs-offset-1 vc_col-xs-10">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-bottom: 40px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-18204 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <script type="text/javascript">
(function() {
	if (!window.mc4wp) {
		window.mc4wp = {
			listeners: [],
			forms    : {
				on: function (event, callback) {
					window.mc4wp.listeners.push({
						event   : event,
						callback: callback
					});
				}
			}
		}
	}
})();
                                                                </script><!-- MailChimp for WordPress v4.0.11 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-210" method="post" data-id="210" data-name="Fortune Subscribe Form - Demo 1">
                                                                    <div class="mc4wp-form-fields">
                                                                        <div class="fortun-subscribe-form-style-1">
                                                                            <p>
                                                                                <label>Email address: </label>
                                                                                <input type="email" name="EMAIL" placeholder="Enter your email address" required />
                                                                            </p>

                                                                            <p>
                                                                                <input type="submit" value="Subscribe" />
                                                                            </p>
                                                                        </div><div style="display: none;"><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></div><input type="hidden" name="_mc4wp_timestamp" value="1559889371" /><input type="hidden" name="_mc4wp_form_id" value="210" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                                                    </div><div class="mc4wp-response"></div>
                                                                </form><!-- / MailChimp for WordPress Plugin -->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="features" class="section-row features" style="margin-bottom: 30px; padding-top: 4%; padding-bottom: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-features"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-10 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1 vc_col-xs-12"><div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 3%; "><div class="section-column-bg-container section-column-bg-container-agni-column-77866 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class=" agni-section-heading text-center hdai"><h2 class="section-heading-text section-heading-text_responsive" style="font-size:60px;"><span>Unique qualities</span></h2><div class="section-divide-line divide-line text-center"><span style="width:80px; height:2px; background-color:#ff655c"></span></div><p class="section-additional-heading-text" style="font-size:18px;">Integer eros metus, bibendum hendrerit fringilla vitae, accumsan eget ex. Morbi bibendum dolor vitae ante vestibulum.</p></div></div></div></div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-28497 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" service-box service-box-style-1 text-center ">
                                                                <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; "><i class="pe-7s-users  " style="border-radius:50%; color:#ff655c; "></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Dedicated Team</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                    <p>Donec cursus risus id est tristique mattis consectetur vehicula nec.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-45646 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" service-box service-box-style-1 text-center ">
                                                                <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; "><i class="pe-7s-smile  " style="border-radius:50%; color:#ff655c; "></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Customer Friendly</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                    <p>Donec cursus risus id est tristique mattis consectetur vehicula nec.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-74450 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" service-box service-box-style-1 text-center ">
                                                                <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; "><i class="pe-7s-diamond  " style="border-radius:50%; color:#ff655c; "></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">100% Satisfaction</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                    <p>Donec cursus risus id est tristique mattis consectetur vehicula nec.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-97858 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" service-box service-box-style-1 text-center ">
                                                                <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; "><i class="pe-7s-umbrella  " style="border-radius:50%; color:#ff655c; "></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Pixel Perfect Design</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                    <p>Donec cursus risus id est tristique mattis consectetur vehicula nec.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-87150 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" service-box service-box-style-1 text-center ">
                                                                <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; "><i class="pe-7s-photo-gallery  " style="border-radius:50%; color:#ff655c; "></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Parallax Layers</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                    <p>Donec cursus risus id est tristique mattis consectetur vehicula nec.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-42568 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" service-box service-box-style-1 text-center ">
                                                                <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; "><i class="pe-7s-phone  " style="border-radius:50%; color:#ff655c; "></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Mobile Friendly</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                    <p>Donec cursus risus id est tristique mattis consectetur vehicula nec.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="photo-gallery" class="section-row photo-gallery"><div class="section-row-bg-container section-row-bg-container-photo-gallery"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid"><div class="vc_row vc_row_fluid has-fullwidth-column-no-padding"><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-91177 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni-gallery img-carousel custom-gallery"><div class="agni-gallery-row row carousel-gallery " data-gallery-margin=0 data-gallery-autoplay=true data-gallery-autoplay-timeout=5000 data-gallery-autoplay-hover=true data-gallery-loop=false data-gallery-autoheight=false data-gallery-center=false data-gallery-pagination=false data-gallery-0="2" data-gallery-768="4" data-gallery-992="6" data-gallery-1200="6"><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><a href="../wp-content/uploads/sites/2/2016/06/shutterstock_237302122.jpg"><img class="fullwidth-image attachment-360x360  " src="../wp-content/uploads/sites/2/2016/06/shutterstock_237302122-360x360.jpg" width="360" height="360" alt="shutterstock_237302122" title="shutterstock_237302122" /></a></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><a href="../wp-content/uploads/sites/2/2016/06/service_shutterstock_315109646.jpg"><img class="fullwidth-image attachment-360x360  " src="../wp-content/uploads/sites/2/2016/06/service_shutterstock_315109646-360x360.jpg" width="360" height="360" alt="service_shutterstock_315109646" title="service_shutterstock_315109646" /></a></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><a href="../wp-content/uploads/sites/2/2016/06/service_shutterstock_315109715.jpg"><img class="fullwidth-image attachment-360x360  " src="../wp-content/uploads/sites/2/2016/06/service_shutterstock_315109715-360x360.jpg" width="360" height="360" alt="service_shutterstock_315109715" title="service_shutterstock_315109715" /></a></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><a href="../wp-content/uploads/sites/2/2016/06/shutterstock_239342257.jpg"><img class="fullwidth-image attachment-360x360  " src="../wp-content/uploads/sites/2/2016/06/shutterstock_239342257-360x360.jpg" width="360" height="360" alt="shutterstock_239342257" title="shutterstock_239342257" /></a></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><a href="../wp-content/uploads/sites/2/2016/06/shutterstock_236717668.jpg"><img class="fullwidth-image attachment-360x360  " src="../wp-content/uploads/sites/2/2016/06/shutterstock_236717668-360x360.jpg" width="360" height="360" alt="shutterstock_236717668" title="shutterstock_236717668" /></a></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><a href="../wp-content/uploads/sites/2/2016/06/shutterstock_307289900.jpg"><img class="fullwidth-image attachment-360x360  " src="../wp-content/uploads/sites/2/2016/06/shutterstock_307289900-360x360.jpg" width="360" height="360" alt="shutterstock_307289900" title="shutterstock_307289900" /></a></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><a href="../wp-content/uploads/sites/2/2017/01/shutterstock_479181241.jpg"><img class="fullwidth-image attachment-360x360  " src="../wp-content/uploads/sites/2/2017/01/shutterstock_479181241-360x360.jpg" width="360" height="360" alt="shutterstock_479181241" title="shutterstock_479181241" /></a></figure></div></div></div></div></div></div></div></div></div>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->



                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div>
            </div>
        </div>
    </div>


</div><!-- #content -->
