
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="spacer"></div>

<div id="content" class="site-content content default-header-menu-content">

    <div id="agni-page-header-238" class="agni-slider agni-page-header" data-height="700" data-height-tab="540" data-height-mobile="380" data-slider-choice="2" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
        <div class="agni-slide " data-0="transform:translateY(0px);" data-1500="transform:translateY(600px);">
            <div class="agni-slide-bg-container "><div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(../wp-content/uploads/sites/2/2016/06/shutterstock_236717668.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div><div class="agni-slide-bg-overlay overlay" style="background-color:rgba(0,0,0,0.7);"></div></div>
            <div class="agni-slide-content-container container agni-slide-align-items-center agni-slide-justify-content-center">
                <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                    <div class="agni-slide-title  primary-typo" style="font-size:84px; color:#f0f0f0;"><h2>Offering, awesome services</h2></div><div class="agni-slide-divideline divide-line "><span style="background-color:#f0f0f0"></span></div><div class="agni-slide-description  default-typo" style="color:#f0f0f0;"><p>We provide an awesome service on web design, ui/ux design,<br />graphics design and development.</p></div>
                </div>
            </div>
        </div>
    </div><div class="page-layout has-fullwidth">
        <div class="page-container container-fluid">
            <div class="page-row row no-sidebar ">


                <div class="page-column page-content col-sm-12 col-md-12">
                    <div id="primary" class="primary content-area">
                        <main id="main" class="site-main">


                            <article id="post-238" class="post-238 page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div id="service-box-1" class="section-row service-box-1" style="padding-top: 5.5%; padding-bottom: 5.5%; ">
                                        <div class="section-row-bg-container section-row-bg-container-service-box-1"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-5">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-24062 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style=" font-size: 20px;color: #342827;text-align: left; font-weight:600;  "><span>WEB DESIGN</span></div></div><div class="agni_custom_heading page-scroll"><h4 class="vc_custom_heading agni_custom_heading_content " style="font-size: 40px;text-align: left; "><span>All kind of web designs</span></h4></div><div class="agni_empty_space vc_empty_space" style="height: 25px" data-height="25px" data-height-tab="5px" data-height-mobile="5px"><span class="vc_empty_space_inner"></span></div>

                                                            <div class="agni_text_column agni-text-block " style="margin-bottom: 0px; ">
                                                                <p>Morbi cursus placerat tortor, sit amet dignissim orci finibus rutrum. Pellentesque habitant morbi et tristique senectus netus et malesuada fames ac turpis egestas. Aliquam fringilla.</p>

                                                            </div>
                                                            <div class="agni_empty_space vc_empty_space" style="height: 35px" data-height="35px" data-height-tab="10px" data-height-mobile="10px"><span class="vc_empty_space_inner"></span></div>
                                                            <div class=" agni-button  text-left page-scroll"><a class="btn btn-accent" target="_self" href="#" style="margin-top: 5px; border-radius:60px">Learn More</a></div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-offset-1 vc_col-md-6">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-71534 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="560" height="500" src="../wp-content/uploads/sites/2/2016/06/service_shutterstock_315109715.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/service_shutterstock_315109715.jpg 560w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/service_shutterstock_315109715-300x268.jpg 300w" sizes="(max-width: 560px) 100vw, 560px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="service-box-2" class="section-row service-box-2" style="padding-top: 5.5%; padding-bottom: 5.5%; ">
                                        <div class="section-row-bg-container section-row-bg-container-service-box-2"><div class="section-row-bg section-row-bg-color " style="background-color: #f8f6f6; "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-6">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-23957 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="560" height="500" src="../wp-content/uploads/sites/2/2016/06/service_shutterstock_315109646.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/service_shutterstock_315109646.jpg 560w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/service_shutterstock_315109646-300x268.jpg 300w" sizes="(max-width: 560px) 100vw, 560px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-offset-1 vc_col-md-5">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-88240 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style=" font-size: 20px;color: #342827;text-align: left; font-weight:600; letter-spacing:0px; "><span>UI/UX DESIGN</span></div></div><div class="agni_custom_heading page-scroll"><h4 class="vc_custom_heading agni_custom_heading_content " style="font-size: 40px;text-align: left; "><span>Crafting clean interface</span></h4></div><div class="agni_empty_space vc_empty_space" style="height: 25px" data-height="25px" data-height-tab="5px" data-height-mobile="5px"><span class="vc_empty_space_inner"></span></div>

                                                            <div class="agni_text_column agni-text-block " style="margin-bottom: 0px; ">
                                                                <p>Morbi cursus placerat tortor, sit amet dignissim orci finibus rutrum. Pellentesque habitant morbi et tristique senectus netus et malesuada fames ac turpis egestas. Aliquam fringilla.</p>

                                                            </div>
                                                            <div class="agni_empty_space vc_empty_space" style="height: 35px" data-height="35px" data-height-tab="10px" data-height-mobile="10px"><span class="vc_empty_space_inner"></span></div>
                                                            <div class=" agni-button  text-left page-scroll"><a class="btn btn-accent" target="_self" href="#" style="margin-top: 5px;   border-radius:60px;">Learn More</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="service-box-3" class="section-row service-box-3" style="padding-top: 5.5%; padding-bottom: 5.5%; ">
                                        <div class="section-row-bg-container section-row-bg-container-service-box-3"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-5">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-50158 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="font-size: 20px;color: #342827;text-align: left; font-weight:600; letter-spacing:0px; "><span>WEB DEVELOPMENT</span></div></div><div class="agni_custom_heading page-scroll"><h4 class="vc_custom_heading agni_custom_heading_content " style="font-size: 40px;text-align: left; "><span>Developing awesomeness</span></h4></div><div class="agni_empty_space vc_empty_space" style="height: 25px" data-height="25px" data-height-tab="5px" data-height-mobile="5px"><span class="vc_empty_space_inner"></span></div>

                                                            <div class="agni_text_column agni-text-block " style="margin-bottom: 0px; ">
                                                                <p>Morbi cursus placerat tortor, sit amet dignissim orci finibus rutrum. Pellentesque habitant morbi et tristique senectus netus et malesuada fames ac turpis egestas. Aliquam fringilla.</p>

                                                            </div>
                                                            <div class="agni_empty_space vc_empty_space" style="height: 35px" data-height="35px" data-height-tab="10px" data-height-mobile="10px"><span class="vc_empty_space_inner"></span></div>
                                                            <div class=" agni-button  text-left page-scroll"><a class="btn btn-accent" target="_self" href="#" style="margin-top: 5px;  border-radius:60px;">Learn More</a></div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-offset-1 vc_col-md-6">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-39110 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="560" height="500" src="../wp-content/uploads/sites/2/2016/06/service_shutterstock_301315544.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/service_shutterstock_301315544.jpg 560w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/06/service_shutterstock_301315544-300x268.jpg 300w" sizes="(max-width: 560px) 100vw, 560px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="call-to-action" class="section-row call-to-action" style="padding-top: 6%; padding-bottom: 6%; "><div class="section-row-bg-container section-row-bg-container-call-to-action"><div class="section-row-bg section-row-bg-image  parallax" style="background-image: url('../wp-content/uploads/sites/2/2016/06/photo-1461352195749-fdba50b79c74.jpg'); background-repeat:repeat; background-size:cover; background-position:center center; background-attachment:fixed; " data-top-bottom="background-position: 0px -200px;" data-center="background-position: 0px 0px" data-bottom-top="background-position: 0px 200px"></div></div><div class="container"><div class="vc_row vc_row_fluid "><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-98138 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni_custom_heading page-scroll"><h2 class="vc_custom_heading agni_custom_heading_responsive  agni_custom_heading_content " style="font-size: 74px;color: #ffffff;text-align: center; padding-bottom: 3%; "><span>Ask queries about the Services</span></h2></div><div class=" agni-button  text-center page-scroll"><a class="btn btn-lg btn-white" target="_self" href="#" style="border-radius:60px;">Contact</a></div></div></div></div></div></div></div>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->



                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div>
            </div>
        </div>
    </div>


</div><!-- #content -->
