
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="spacer"></div>

<div id="content" class="site-content content default-header-menu-content">

    <div id="agni-page-header-535" class="agni-slider agni-page-header" data-height="700" data-height-tab="540" data-height-mobile="380" data-slider-choice="2" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
        <div class="agni-slide ">
            <div class="agni-slide-bg-container "><div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(../wp-content/uploads/sites/2/2017/01/photo-1454817481404-7e84c1b73b4a.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div><div class="agni-slide-bg-overlay overlay" style="background-color:rgba(0,0,0,0.65);"></div></div>
            <div class="agni-slide-content-container container agni-slide-align-items- agni-slide-justify-content-center">
                <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                    <div class="agni-slide-title  primary-typo" style="font-size:84px; color:#f0f0f0;"><h2>We blog sometimes!</h2></div>
                </div>
            </div>
        </div>
    </div><div class="page-layout has-fullwidth">
        <div class="page-container container-fluid">
            <div class="page-row row no-sidebar ">


                <div class="page-column page-content col-sm-12 col-md-12">
                    <div id="primary" class="primary content-area">
                        <main id="main" class="site-main">


                            <article id="post-535" class="post-535 page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div id="agni-row-27097" class="section-row" style="padding-top: 5.5%; padding-bottom: 5.5%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-27097"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-86590 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <section class="blog blog-post shortcode-blog-post list-layout-post ">
                                                                <div class="blog-container container">
                                                                    <div class="blog-row row no-sidebar">
                                                                        <div class="blog-column col-sm-12 col-md-12 blog-post-content">
                                                                            <div id="primary-blog" class="content-area">
                                                                                <div id="main-blog" class="site-main" data-posttype-autoplay='true' data-posttype-autoplay-timeout='4000' data-posttype-autoplay-speed='700' data-posttype-autoplay-hover='true' data-posttype-loop='true' data-posttype-pagination='true' data-posttype-navigation='false'>


                                                                                    <article id="post-41" class="list-item animate  post-41 post type-post status-publish format-standard has-post-thumbnail hentry category-tips-tricks tag-happy tag-love tag-memory tag-web" style=" -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s; animation-duration: 0.8s; animation-delay: 0.4s;" data-animation="fadeInUp" data-animation-offset="90%">
                                                                                        <div class="entry-thumbnail ">
                                                                                            <img class="blog-thumbnail-attachment-image attachment-640x640 " src="../Public/wp-content/uploads/sites/2/2017/01/blog-thumbnail-16-640x640.jpg" width="640" height="640" alt="blog-thumbnail-16" title="blog-thumbnail-16" />
                                                                                        </div>
                                                                                        <div class="entry-content">
                                                                                            <div class="entry-meta">
                                                                                                <span class="posted-on"><a href="../2016/12/05/10-things-new-york-lovers-could-only-understand/index.html" rel="bookmark"><time class="entry-date published" datetime="2016-12-05T03:24:27+00:00">5 Dec 2016</time><time class="updated" datetime="2017-01-03T12:15:21+00:00">3 Jan 2017</time></a></span><span class="cat-links"><a href="../category/tips-tricks/index.html" rel="category tag">Tips &amp; Tricks</a></span>
                                                                                            </div><h5 class="entry-title"><a href="../2016/12/05/10-things-new-york-lovers-could-only-understand/index.html" rel="bookmark">10 things New York lovers could only understand</a></h5>Odio perspiciatis dolore odit aperiam Doloremque minus ducimus consequatur. Accusantium tempore voluptatem fugit voluptas. Voluptatum quos sunt <p><a class="more-link btn-accent btn-alt" href="../2016/12/05/10-things-new-york-lovers-could-only-understand/index.html">Read More</a></p>
                                                                                        </div>
                                                                                    </article>


                                                                                    <article id="post-43" class="list-item animate  post-43 post type-post status-publish format-standard has-post-thumbnail hentry category-business" style=" -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s; animation-duration: 0.8s; animation-delay: 0.4s;" data-animation="fadeInUp" data-animation-offset="90%">
                                                                                        <div class="entry-thumbnail ">
                                                                                            <img class="blog-thumbnail-attachment-image attachment-640x640 " src="~/Public/wp-content/uploads/sites/2/2017/01/blog-thumbnail-3-640x640.jpg" width="640" height="640" alt="blog-thumbnail-3" title="blog-thumbnail-3" />
                                                                                        </div>
                                                                                        <div class="entry-content">
                                                                                            <div class="entry-meta">
                                                                                                <span class="posted-on"><a href="../2016/12/04/wildlife-could-be-amazing-see-why/index.html" rel="bookmark"><time class="entry-date published" datetime="2016-12-04T20:20:34+00:00">4 Dec 2016</time><time class="updated" datetime="2017-01-03T12:10:13+00:00">3 Jan 2017</time></a></span><span class="cat-links"><a href="../category/business/index.html" rel="category tag">Business</a></span>
                                                                                            </div><h5 class="entry-title"><a href="../2016/12/04/wildlife-could-be-amazing-see-why/index.html" rel="bookmark">Wildlife could be amazing, see why.</a></h5>Mauris ut augue ac ligula commodo pretium. Cras aliquet nec purus et imperdiet. Donec tempor tellus ut tortor finibus, ut convallis elit <p><a class="more-link btn-accent btn-alt" href="../2016/12/04/wildlife-could-be-amazing-see-why/index.html">Read More</a></p>
                                                                                        </div>
                                                                                    </article>


                                                                                    <article id="post-26" class="list-item animate  post-26 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-love tag-web" style=" -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s; animation-duration: 0.8s; animation-delay: 0.4s;" data-animation="fadeInUp" data-animation-offset="90%">
                                                                                        <div class="entry-thumbnail ">
                                                                                            <img class="blog-thumbnail-attachment-image attachment-640x640 " src="../wp-content/uploads/sites/2/2017/01/blog-thumbnail-4-640x640.jpg" width="640" height="640" alt="blog-thumbnail-4" title="blog-thumbnail-4" />
                                                                                        </div>
                                                                                        <div class="entry-content">
                                                                                            <div class="entry-meta">
                                                                                                <span class="posted-on"><a href="../2016/12/04/strange-things-that-make-you-wow/index.html" rel="bookmark"><time class="entry-date published" datetime="2016-12-04T14:02:34+00:00">4 Dec 2016</time><time class="updated" datetime="2017-01-03T12:10:38+00:00">3 Jan 2017</time></a></span><span class="cat-links"><a href="../category/lifestyle/index.html" rel="category tag">Lifestyle</a></span>
                                                                                            </div><h5 class="entry-title"><a href="../2016/12/04/strange-things-that-make-you-wow/index.html" rel="bookmark">Strange things that make you &#8220;WOW&#8221;</a></h5>Est dolores necessitatibus modi. Aut modi tenetur sit sint. Sunt neque quo et quas Donec volutpat non odio a condimentum. Nulla facilisi. Vivamus <p><a class="more-link btn-accent btn-alt" href="../2016/12/04/strange-things-that-make-you-wow/index.html">Read More</a></p>
                                                                                        </div>
                                                                                    </article>


                                                                                    <article id="post-19" class="list-item animate  post-19 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-memory" style=" -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s; animation-duration: 0.8s; animation-delay: 0.4s;" data-animation="fadeInUp" data-animation-offset="90%">
                                                                                        <div class="entry-thumbnail ">
                                                                                            <img class="blog-thumbnail-attachment-image attachment-640x640 " src="../wp-content/uploads/sites/2/2017/01/blog-thumbnail-1-640x640.jpg" width="640" height="640" alt="blog-thumbnail-1" title="blog-thumbnail-1" />
                                                                                        </div>
                                                                                        <div class="entry-content">
                                                                                            <div class="entry-meta">
                                                                                                <span class="posted-on"><a href="../2016/12/03/six-things-wont-go-out-of-style/index.html" rel="bookmark"><time class="entry-date published" datetime="2016-12-03T14:52:30+00:00">3 Dec 2016</time><time class="updated" datetime="2017-01-03T12:12:03+00:00">3 Jan 2017</time></a></span><span class="cat-links"><a href="../category/business/index.html" rel="category tag">Business</a></span>
                                                                                            </div><h5 class="entry-title"><a href="../2016/12/03/six-things-wont-go-out-of-style/index.html" rel="bookmark">Six things won&#8217;t go out of style</a></h5>Maecenas consequat ultricies mauris at imperdiet. Maecenas pellentesque ipsum diam, vel porta diam rutrum quis. Pellentesque habitant morbi <p><a class="more-link btn-accent btn-alt" href="../2016/12/03/six-things-wont-go-out-of-style/index.html">Read More</a></p>
                                                                                        </div>
                                                                                    </article>



                                                                                </div><!-- #main -->
                                                                            </div><!-- #primary -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->



                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div>
            </div>
        </div>
    </div>


</div><!-- #content -->
