
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="spacer"></div>

<div id="content" class="site-content content default-header-menu-content">

    <div id="agni-page-header-611" class="agni-slider agni-page-header" data-height="700" data-height-tab="540" data-height-mobile="380" data-slider-choice="2" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
        <div class="agni-slide " data-0="transform:translateY(0px);" data-1500="transform:translateY(600px);">
            <div class="agni-slide-bg-container "><div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(../wp-content/uploads/sites/2/2017/01/shutterstock_479181241.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div><div class="agni-slide-bg-overlay overlay" style="background-color:rgba(0,0,0,0.7);"></div></div>
            <div class="agni-slide-content-container container agni-slide-align-items-center agni-slide-justify-content-center">
                <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                    <div class="agni-slide-title  primary-typo" style="font-size:84px; color:#f0f0f0;"><h2>Showing our works</h2></div>
                </div>
            </div>
        </div>
    </div><div class="page-layout has-fullwidth">
        <div class="page-container container-fluid">
            <div class="page-row row no-sidebar ">


                <div class="page-column page-content col-sm-12 col-md-12">
                    <div id="primary" class="primary content-area">
                        <main id="main" class="site-main">


                            <article id="post-611" class="post-611 page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div id="agni-row-12203" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-12203"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-63879 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div id="primary-portfolio" class="page-portfolio content-area shortcode-page-portfolio">
                                                                <div id="main-portfolio" class="page-portfolio-container container-fluid  site-main">

                                                                    <div class="portfolio-filter container-fluid text-left"><span class="filter-button"><i class="pe-7f-filter"></i></span><ul id="filters" class="filter list-inline"><li><a class="active" href="#all" data-filter=".all" title="">All</a></li><li><a href="#branding" data-filter=".branding" title="">Branding</a></li><li><a href="#graphic" data-filter=".graphic" title="">Graphic</a></li><li><a href="#logo-design" data-filter=".logo-design" title="">Logo Design</a></li><li><a href="#print" data-filter=".print" title="">Print</a></li></ul></div>            <div class="portfolio-container portfolio-fullwidth portfolio-no-gutter">
                                                                        <div class="row portfolio-row" data-grid="fitRows" data-posttype-autoplay="true" data-posttype-autoplay-timeout="4000" data-posttype-autoplay-speed="700" data-posttype-autoplay-hover="true" data-posttype-loop="true" data-posttype-pagination="true" data-posttype-navigation="false">
                                                                            <div id="portfolio-post-599" class="portfolio-column portfolio-post portfolio-hover-style-1 all branding graphic  width1x height1x col-xs-12 col-sm-6 col-md-4 animate" data-animation="fadeInUp" data-animation-offset="90%" style=" -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s; animation-duration: 0.8s; animation-delay: 0.4s;">
                                                                                <div class="portfolio-content-container">
                                                                                    <div class="portfolio-thumbnail">
                                                                                        <img width="960" height="960" src="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_25.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_25.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_25-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_25-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_25-768x768.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />
                                                                                    </div>
                                                                                    <div class="portfolio-caption-content">
                                                                                        <a class="portfolio-content-link" href="../portfolio/sidebar-constrained/index.html" target="_self"></a>
                                                                                        <div class="portfolio-content">
                                                                                            <div class="portfolio-content-details">
                                                                                                <a class="portfolio-content-link" href="../portfolio/sidebar-constrained/index.html" target="_self">
                                                                                                    <div class="portfolio-content-inner">
                                                                                                        <h5 class="portfolio-title">Sidebar constrained</h5><ul class="portfolio-category list-inline"><li>Branding</li><li>Graphic</li></ul>
                                                                                                    </div>
                                                                                                </a>
                                                                                                <div class="portfolio-meta"><a href="../portfolio/sidebar-constrained/index.html" target="_self"><i class="pe-7s-link"></i></a><a href="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_25.jpg" class="portfolio-attachment"><i class="pe-7s-photo"></i></a></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div><div id="portfolio-post-309" class="portfolio-column portfolio-post portfolio-hover-style-1 all branding logo-design  width1x height1x col-xs-12 col-sm-6 col-md-4 animate" data-animation="fadeInUp" data-animation-offset="90%" style=" -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s; animation-duration: 0.8s; animation-delay: 0.8s;">
                                                                                <div class="portfolio-content-container">
                                                                                    <div class="portfolio-thumbnail">
                                                                                        <img width="960" height="960" src="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_27.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_27.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_27-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_27-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_27-768x768.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />
                                                                                    </div>
                                                                                    <div class="portfolio-caption-content">
                                                                                        <a class="portfolio-content-link" href="../portfolio/fullscreen-slider/index.html" target="_self"></a>
                                                                                        <div class="portfolio-content">
                                                                                            <div class="portfolio-content-details">
                                                                                                <a class="portfolio-content-link" href="../portfolio/fullscreen-slider/index.html" target="_self">
                                                                                                    <div class="portfolio-content-inner">
                                                                                                        <h5 class="portfolio-title">Fullscreen slider</h5><ul class="portfolio-category list-inline"><li>Branding</li><li>Logo Design</li></ul>
                                                                                                    </div>
                                                                                                </a>
                                                                                                <div class="portfolio-meta"><a href="../portfolio/fullscreen-slider/index.html" target="_self"><i class="pe-7s-link"></i></a><a href="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_27.jpg" class="portfolio-attachment"><i class="pe-7s-photo"></i></a></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div><div id="portfolio-post-310" class="portfolio-column portfolio-post portfolio-hover-style-1 all graphic print  width1x height1x col-xs-12 col-sm-6 col-md-4 animate" data-animation="fadeInUp" data-animation-offset="90%" style=" -webkit-animation-duration: 0.8s; -webkit-animation-delay: 1.2s; animation-duration: 0.8s; animation-delay: 1.2s;">
                                                                                <div class="portfolio-content-container">
                                                                                    <div class="portfolio-thumbnail">
                                                                                        <img width="960" height="960" src="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_22.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_22.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_22-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_22-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_22-768x768.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />
                                                                                    </div>
                                                                                    <div class="portfolio-caption-content">
                                                                                        <a class="portfolio-content-link" href="../portfolio/fullwidth-constrained/index.html" target="_self"></a>
                                                                                        <div class="portfolio-content">
                                                                                            <div class="portfolio-content-details">
                                                                                                <a class="portfolio-content-link" href="../portfolio/fullwidth-constrained/index.html" target="_self">
                                                                                                    <div class="portfolio-content-inner">
                                                                                                        <h5 class="portfolio-title">Fullwidth constrained</h5><ul class="portfolio-category list-inline"><li>Graphic</li><li>Print</li></ul>
                                                                                                    </div>
                                                                                                </a>
                                                                                                <div class="portfolio-meta"><a href="../portfolio/fullwidth-constrained/index.html" target="_self"><i class="pe-7s-link"></i></a><a href="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_22.jpg" class="portfolio-attachment"><i class="pe-7s-photo"></i></a></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div><div id="portfolio-post-600" class="portfolio-column portfolio-post portfolio-hover-style-1 all graphic print  width1x height1x col-xs-12 col-sm-6 col-md-4 animate" data-animation="fadeInUp" data-animation-offset="90%" style=" -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s; animation-duration: 0.8s; animation-delay: 0.4s;">
                                                                                <div class="portfolio-content-container">
                                                                                    <div class="portfolio-thumbnail">
                                                                                        <img width="640" height="640" src="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_29.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_29.jpg 640w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_29-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_29-300x300.jpg 300w" sizes="(max-width: 640px) 100vw, 640px" />
                                                                                    </div>
                                                                                    <div class="portfolio-caption-content">
                                                                                        <a class="portfolio-content-link" href="../portfolio/right-sidebar-fullwidth/index.html" target="_self"></a>
                                                                                        <div class="portfolio-content">
                                                                                            <div class="portfolio-content-details">
                                                                                                <a class="portfolio-content-link" href="../portfolio/right-sidebar-fullwidth/index.html" target="_self">
                                                                                                    <div class="portfolio-content-inner">
                                                                                                        <h5 class="portfolio-title">Right sidebar fullwidth</h5><ul class="portfolio-category list-inline"><li>Graphic</li><li>Print</li></ul>
                                                                                                    </div>
                                                                                                </a>
                                                                                                <div class="portfolio-meta"><a href="../portfolio/right-sidebar-fullwidth/index.html" target="_self"><i class="pe-7s-link"></i></a><a href="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_29.jpg" class="portfolio-attachment"><i class="pe-7s-photo"></i></a></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div><div id="portfolio-post-601" class="portfolio-column portfolio-post portfolio-hover-style-1 all print  width1x height1x col-xs-12 col-sm-6 col-md-4 animate" data-animation="fadeInUp" data-animation-offset="90%" style=" -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s; animation-duration: 0.8s; animation-delay: 0.8s;">
                                                                                <div class="portfolio-content-container">
                                                                                    <div class="portfolio-thumbnail">
                                                                                        <img width="640" height="640" src="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_26.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_26.jpg 640w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_26-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_26-300x300.jpg 300w" sizes="(max-width: 640px) 100vw, 640px" />
                                                                                    </div>
                                                                                    <div class="portfolio-caption-content">
                                                                                        <a class="portfolio-content-link" href="../portfolio/zigzag-constrained/index.html" target="_self"></a>
                                                                                        <div class="portfolio-content">
                                                                                            <div class="portfolio-content-details">
                                                                                                <a class="portfolio-content-link" href="../portfolio/zigzag-constrained/index.html" target="_self">
                                                                                                    <div class="portfolio-content-inner">
                                                                                                        <h5 class="portfolio-title">Zigzag constrained</h5><ul class="portfolio-category list-inline"><li>Print</li></ul>
                                                                                                    </div>
                                                                                                </a>
                                                                                                <div class="portfolio-meta"><a href="../portfolio/zigzag-constrained/index.html" target="_self"><i class="pe-7s-link"></i></a><a href="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_26.jpg" class="portfolio-attachment"><i class="pe-7s-photo"></i></a></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div><div id="portfolio-post-602" class="portfolio-column portfolio-post portfolio-hover-style-1 all branding  width1x height1x col-xs-12 col-sm-6 col-md-4 animate" data-animation="fadeInUp" data-animation-offset="90%" style=" -webkit-animation-duration: 0.8s; -webkit-animation-delay: 1.2s; animation-duration: 0.8s; animation-delay: 1.2s;">
                                                                                <div class="portfolio-content-container">
                                                                                    <div class="portfolio-thumbnail">
                                                                                        <img width="960" height="960" src="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_23.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_23.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_23-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_23-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_23-768x768.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />
                                                                                    </div>
                                                                                    <div class="portfolio-caption-content">
                                                                                        <a class="portfolio-content-link" href="../portfolio/sidebar-gallery-fullwidth/index.html" target="_self"></a>
                                                                                        <div class="portfolio-content">
                                                                                            <div class="portfolio-content-details">
                                                                                                <a class="portfolio-content-link" href="../portfolio/sidebar-gallery-fullwidth/index.html" target="_self">
                                                                                                    <div class="portfolio-content-inner">
                                                                                                        <h5 class="portfolio-title">Sidebar gallery fullwidth</h5><ul class="portfolio-category list-inline"><li>Branding</li></ul>
                                                                                                    </div>
                                                                                                </a>
                                                                                                <div class="portfolio-meta"><a href="../portfolio/sidebar-gallery-fullwidth/index.html" target="_self"><i class="pe-7s-link"></i></a><a href="../wp-content/uploads/sites/2/2016/12/portfolio-thumbnail_23.jpg" class="portfolio-attachment"><i class="pe-7s-photo"></i></a></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>                        <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
                                                                        </div>
                                                                        <div class="portfolio-number-navigation page-number-navigation navigation text-center">
                                                                            <ul class='page-numbers'>
                                                                                <li><span class='page-numbers current'>1</span></li>
                                                                                <li><a class='page-numbers' href='page/2/index.html'>2</a></li>
                                                                                <li><a class="next page-numbers" href="page/2/index.html">Next</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- #main -->
                                                            </div><!-- #primary -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->



                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div>
            </div>
        </div>
    </div>


</div><!-- #content -->
